"source.js":
  "console.log":
    prefix: "cl"
    body: '''
      console.log($1)
      console.log($1)
    '''
"source.ts":
  "console.log":
    prefix: "cl"
    body: '''
      console.log($1)
      console.log($1)
    '''